<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>BoB Store</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="../static/img/css/main.css">
</head>
    <body>
        <div id="header"></div>
        <div id="navigation">
            <ul>
                <li><a href="index.html">Главная</a></li>
                <li><a href="about_us.html">О нас</a></li>
                <li><a href="contacts.html">Контакты</a></li>
            </ul>
        </div>
        <div id="main" class="about_us">
            <span class="about_us_title">О нас</span><br>
            <span class="about_us">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque, eaque eos esse et explicabo harum, hic illo inventore laboriosam non optio perspiciatis quod ratione repudiandae soluta suscipit tempore vel?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque, eaque eos esse et explicabo harum, hic illo inventore laboriosam non optio perspiciatis quod ratione repudiandae soluta suscipit tempore vel?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque, eaque eos esse et explicabo harum, hic illo inventore laboriosam non optio perspiciatis quod ratione repudiandae soluta suscipit tempore vel?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque, eaque eos esse et explicabo harum, hic illo inventore laboriosam non optio perspiciatis quod ratione repudiandae soluta suscipit tempore vel?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque, eaque eos esse et explicabo harum, hic illo inventore laboriosam non optio perspiciatis quod ratione repudiandae soluta suscipit tempore vel?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque, eaque eos esse et explicabo harum, hic illo inventore laboriosam non optio perspiciatis quod ratione repudiandae soluta suscipit tempore vel?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque, eaque eos esse et explicabo harum, hic illo inventore laboriosam non optio perspiciatis quod ratione repudiandae soluta suscipit tempore vel?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque, eaque eos esse et explicabo harum, hic illo inventore laboriosam non optio perspiciatis quod ratione repudiandae soluta suscipit tempore vel?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque, eaque eos esse et explicabo harum, hic illo inventore laboriosam non optio perspiciatis quod ratione repudiandae soluta suscipit tempore vel?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque, eaque eos esse et explicabo harum, hic illo inventore laboriosam non optio perspiciatis quod ratione repudiandae soluta suscipit tempore vel?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque, eaque eos esse et explicabo harum, hic illo inventore laboriosam non optio perspiciatis quod ratione repudiandae soluta suscipit tempore vel?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque, eaque eos esse et explicabo harum, hic illo inventore laboriosam non optio perspiciatis quod ratione repudiandae soluta suscipit tempore vel?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque, eaque eos esse et explicabo harum, hic illo inventore laboriosam non optio perspiciatis quod ratione repudiandae soluta suscipit tempore vel?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque, eaque eos esse et explicabo harum, hic illo inventore laboriosam non optio perspiciatis quod ratione repudiandae soluta suscipit tempore vel?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque, eaque eos esse et explicabo harum, hic illo inventore laboriosam non optio perspiciatis quod ratione repudiandae soluta suscipit tempore vel?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque, eaque eos esse et explicabo harum, hic illo inventore laboriosam non optio perspiciatis quod ratione repudiandae soluta suscipit tempore vel?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque, eaque eos esse et explicabo harum, hic illo inventore laboriosam non optio perspiciatis quod ratione repudiandae soluta suscipit tempore vel?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque, eaque eos esse et explicabo harum, hic illo inventore laboriosam non optio perspiciatis quod ratione repudiandae soluta suscipit tempore vel?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque, eaque eos esse et explicabo harum, hic illo inventore laboriosam non optio perspiciatis quod ratione repudiandae soluta suscipit tempore vel?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque, eaque eos esse et explicabo harum, hic illo inventore laboriosam non optio perspiciatis quod ratione repudiandae soluta suscipit tempore vel?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque, eaque eos esse et explicabo harum, hic illo inventore laboriosam non optio perspiciatis quod ratione repudiandae soluta suscipit tempore vel?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque, eaque eos esse et explicabo harum, hic illo inventore laboriosam non optio perspiciatis quod ratione repudiandae soluta suscipit tempore vel?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque, eaque eos esse et explicabo harum, hic illo inventore laboriosam non optio perspiciatis quod ratione repudiandae soluta suscipit tempore vel?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque, eaque eos esse et explicabo harum, hic illo inventore laboriosam non optio perspiciatis quod ratione repudiandae soluta suscipit tempore vel?
            </span>
        </div>
        <div id="footer">Футер</div>
    </body>
</html>
