<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>BoB Store</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="css/index.css">
</head>
    <body>
        <div id="navigation" class="index">
            <ul>
                <li><a href="../">Главная</a></li>
                <li><a href="../categories">Категории</a></li>
                <li><a href="../about_us">О нас</a></li>
                <li><a href="../contacts">Контакты</a></li>
                <li><a href="../basket">Корзина</a></li>
                <li><a href="../login">Вход</a></li>
            </ul>
        </div>
        <div id="header" class="index"></div>
    </body>
</html>
<div id="footer">Футер</div>
